<% @viewTitle = "投稿詳細" %>
<div class="d-flex justify-content-between mb-5">
  <h2 class="mb-3">投稿詳細</h2>
  <% if @post['user_id'] == session[:id] %>
  <div>
    <a class="btn btn-success" href="/posts/<%= @post['id'] %>/edit">編集</a>
    <a class="btn btn-danger" href="/posts/<%= @post['id'] %>/destroy" onclick="return confirm('本当に削除しますか？')">削除</a>
  </div>
  <% end %>
</div>
<h3 class="mb-3"><%= @post['title'] %></h3>
<img src="/images/<%= @post['image'] %>" class="img-fluid mb-3">
<p><%= @post['content'] %></p>
<div class="row">
  <div class="col-sm-4 offset-4">
    <div class="d-flex flex-column align-items-center">
      <form action="/likes" method="post">
        <input type="hidden" name="id" value="<%= @post['id'] %>">
        <a href="javascript:void(0)" onclick="this.parentNode.submit()">
          <% if @liked %>
          <i class="fas fa-heart fa-2x" style="color: red;"></i>
          <% else %>
          <i class="far fa-heart fa-2x" style="color: red;"></i>
          <% end %>
        </a>
      </form>
      <span><%= @like_count['count'] %></span>
    </div>
  </div>
  <div class="col-sm-4">
    <p class="text-right">投稿者:<a href="/users/<%= @post['user_id'] %>"><%= @post['name'] %></a></p>
    <p class="text-right"><%= @post['updated_at'] %></p>
  </div>
</div>