<% @viewTitle = "投稿詳細" %>
<div class="d-flex justify-content-between mb-5">
  <h2 class="mb-3">投稿詳細</h2>
  <% if @post['user_id'] == session[:id] %>
  <div>
    <a class="btn btn-success" href="/posts/<%= @post['id'] %>/edit">編集</a>
    <form action="/posts/<%= @post['id'] %>/destroy" method="post" class="d-inline">
      <input type="hidden" name="id" value="<%= @post['id'] %>">
      <button class="btn btn-danger" onclick="return confirm('本当に削除しますか？')">削除</button>
    </form>
  </div>
  <% end %>
</div>
<h3 class="mb-3"><%= @post['title'] %></h3>
<img src="/images/<%= @post['image'] %>" class="img-fluid mb-3">
<p><%= @post['content'] %></p>
<div class="row">
  <div class="col-sm-4 offset-4">
    <div class="d-flex flex-column align-items-center">
      <form action="/likes" method="post">
        <input type="hidden" name="id" value="<%= @post['id'] %>">
        <a href="javascript:void(0)" onclick="this.parentNode.submit()">
          <% if @liked %>
          <i class="fas fa-heart fa-2x" style="color: red;"></i>
          <% else %>
          <i class="far fa-heart fa-2x" style="color: red;"></i>
          <% end %>
        </a>
      </form>
      <span><%= @like_count['count'] %></span>
    </div>
  </div>
  <div class="col-sm-4">
    <p class="text-right">投稿者:<a href="/users/<%= @post['user_id'] %>"><%= @post['name'] %></a></p>
    <p class="text-right"><%= @post['updated_at'] %></p>
  </div>
</div>
<div class="row bg-white p-3 mb-5">
  <div class="col-10 offset-1">
    <form action="/comment/<%= @post['id'] %>" method="post">
      <div class="form-group">
        <input type="hidden" name="post_id" value="<%= @post['id'] %>">
        <input type="hidden" name="user_id" value="<%= session[:id] %>">
        <label for="content">コメント</label>
        <textarea type="text" name="content" id="content" class="form-control mb-3"></textarea>
        <button type="submit" class="btn btn-info">送信</button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-8 offset-2">
    <ul class="list-unstyled">
      <% @comments.each do |comment| %>
      <li class="media border-bottom border-secondary mb-5">
        <img src="/images/<%= comment['image'] %>" width="100" class="mr-3 rounded-circle">
        <div class="media-body">
          <p><%= comment['name'] %></p>
          <p><%= comment['content'] %></p>
          <p class="text-right"><%= comment['created_at'] %></p>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>