<% if @results.any? %>
<% @results.each do |result| %>
<ul class="list-unstyled">
  <li class="media">
    <a href="/posts/<%= result['id'] %>">
      <img src="/images/<%= result['image'] %>" class="img-fluid align-self-center mr-3" style="max-width:200px">
    </a>
    <div class="media-body">
      <h5 class="mt-0 mb-1"><%= result['title'] %></h5>
      <p><%= result['content'] %></p>
      投稿日:<%= result['created_at'] %>
    </div>
  </li>
</ul>
<% end %>
<% else %>
検索したキーワードでは記事を見つけることができませんでした。
<% end %>