<% @viewTitle = "ユーザー詳細" %>
<div class="row">
  <div class="col-3">
    <img src="/images/<%= @user['image'] %>" class="rounded-circle img-fluid mb-3">
    <h2 class="text-center mb-3"><%= @user['name'] %></h2>
    <form action="/follow/<%= @user['id'] %>" method="post" class="text-center">
      <input type="hidden" name="id" value="<%= @user['id'] %>">
      <% if @follow %>
      <a class="btn btn-primary mb-3" href="javascript:void(0)" onclick="this.parentNode.submit()">
        フォロー解除
      </a>
      <% else %>
      <a class="btn btn-outline-primary mb-3" href="javascript:void(0)" onclick="this.parentNode.submit()">
        フォロー
      </a>
      <% end %>
    </form>
    <div class="d-flex flex-column align-items-center">
      <p><span class="font-weight-bold h3"><%= @following['count'] %></span>フォロー中</p>
      <p><span class="font-weight-bold h3"><%= @followed['count'] %></span>フォロワー</p>
    </div>
  </div>
  <div class="col-6 offset-3">
    <dl>
      <dt>誕生日</dt>
      <% if @user['birthday'].nil? %>
      <dd>非公開</dd>
      <% else %>
      <dd><%= @user['birthday'] %></dd>
      <% end %>
      <dt>自己紹介</dt>
      <dd><%= @user['introduce'] %></dd>
      <dt>登録日</dt>
      <dd><%= @user['created_at'] %></dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="col-8 offset-2 bg-white p-5">
      <ul class="list-unstyled">
        <% @posts.each do |post| %>
        <li class="media border-bottom border-secondary mb-5">
          <img src="/images/<%= post['image'] %>" width="100" class="mr-3 rounded-circle">
          <div class="media-body">
            <p><%= post['name'] %></p>
            <p><%= post['content'] %></p>
            <p class="text-right">更新日：<%= post['updated_at'] %></p>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>